<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <div id="wrapper">
      <div class="error">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <div id="box">
        <form class="" action="/login" method="post">
          <p>Email: <input type="text" name="email" value=""></p>
          <p>Password: <input type="password" name="password" value=""></p>
          <input type="submit" name="" value="Login">
        </form>
      </div>

    </div>
  </body>
</html>
